*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/database_project_front/node_modules
/database_project_front/dist
/database_project_api/vendor
/database_project_api/bootstrap/cache/*.php
/database_project_api/storage/logs/*.log
/database_project_api/.phpunit.result.cache
/.tunnel-logs
/.ngrok-logs
/.local-logs
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
